canvas {
    width: 240px !important;
    height:240px !important;
    margin: auto;

}
.mb-3{
    background-color:#157A83 !important;
    opacity: 0.2;

}

.menuCard{
    width:290px;
    height:150px;
    text-align:center;
    padding:20px 20px;
    margin: 20px;
    border-width:0px;
    position: relative;
}
.manuText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;

}
.login_bg{
    
    background-color: #157A83;
}
.login_btn{
    border: none;
    background: linear-gradient(90.13deg, #1C3835 4.86%, #018592 99.94%);
    box-shadow: 0px 4px 125px
}
.login_link{
    color: #157A83;

}
.login_card{
   
    height: 450px;
}
.login_text{
   
    margin-top: 45px;
}
.logo{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50px;
    top: 13px;
    background: url('../../assets/images/logo.png');
    background-size: 40px 40px;
}
.logo_name{
    
position: absolute;
width: 184.41px;
height: 31.71px;
left: 128.29px;
top: 75.15px;
background: url('../../assets/images/logoName.png');
}

@media screen and (min-width : 768px) and (max-width : 1500px) {
    .menuCard{
        width:210px;
        height:135px;
        text-align:center;
        padding:10px 20px;
        margin: 20px;
        border-width:0px;
    }
}


